<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人网站</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <header class="site-header">
        <div class="nav-container">
            <div class="logo">🌀</div>
            <nav>
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="blog.html">文章</a></li>
                    <li><a href="pages/categories.html">专栏</a></li>
                    <li><a href="pages/about.html">关于</a></li>
                    <li><a href="pages/contact.html">留言板</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main-content">
        <section class="card-list">
            <!-- 示例卡片，可用for循环替换 图片路劲格式"assets/images/card2.jpg"-->
            <div class="card">
                <img src="https://images.unsplash.com/photo-1611027548022-f28b216d4603?ixid=M3w3NTAwODZ8MHwxfHNlYXJjaHwxfHxhdG1vc3BoZXJlJTIwYmx1ZXxlbnwwfHx8Ymx1ZXwxNzQ3MTkxOTcwfDA&ixlib=rb-4.1.0" alt="卡片1">
                <div class="card-info">
                    <span class="card-tag">心情贴</span>
                    <h3> </h3>
                    <p> </p>
                </div>
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1643793571563-1f68bcc70d86?ixid=M3w3NTAwODZ8MHwxfHNlYXJjaHwzfHxhdG1vc3BoZXJlJTIwYmx1ZXxlbnwwfHx8Ymx1ZXwxNzQ3MTkxOTcwfDA&ixlib=rb-4.1.0" alt="卡片2">
                <div class="card-info">
                    <span class="card-tag">心情贴</span>
                    <h3> </h3>
                    <p> </p>
                </div>
            </div>
            <div class="card">
                <img src="https://images.unsplash.com/photo-1533621033407-ef16ea2fc24a?ixid=M3w3NTAwODZ8MHwxfHNlYXJjaHwyfHxhdG1vc3BoZXJlJTIwYmx1ZXxlbnwwfHx8Ymx1ZXwxNzQ3MTkxOTcwfDA&ixlib=rb-4.1.0" alt="卡片3">
                <div class="card-info">
                    <span class="card-tag">心情贴</span>
                    <h3> </h3>
                    <p> </p>
                </div>
            </div>
        </section>
        <section class="post-list">
            {% for post in site.posts limit:5 %}
            <div class="post-card">
                {% if post.image %}
                <img class="post-thumb" src="{{ post.image }}" alt="{{ post.title }}">
                {% endif %}
                <div class="post-content">
                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <p class="post-meta">文章 · {{ post.date | date: "%Y年%-m月%-d日" }}</p>
                    <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 80 }}</p>
                </div>
            </div>
            {% endfor %}
        </section>
    </main>
    <footer>
        <p>版权所有 &copy; 2025</p>
    </footer>
</body>
</html>